# HeapSort

***

## Lists In Python
***

In [1]:
#lists in python can be created with sqaure bracket notation.
L = [1, 2, 3, "Hello, World!", None, True]

In [2]:
#they are zero indexed
L[5]

True

In [3]:
#Create lists with list() function
list({1,2,3,3})

[1, 2, 3]

In [4]:
#Using negative indexes.
L[-1]

True

In [5]:
#Third last element
L[-3]

'Hello, World!'

In [6]:
#In-Built functions for creating iterables
list(range(0, 100, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [7]:
#In-Built functions for creating iterables
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# list slicing.
L[1:10:2]

[1, 3, 5, 7, 9]

In [9]:
#Quick way to cycle the list to the left
i = 5
L[i:] + L[:i]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [10]:
L[:5]

[0, 1, 2, 3, 4]

In [11]:
L[5:]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
#Tuples -- immutabvle
T = (1,2,3,4)

In [13]:
#select elements
T[0]

1

In [14]:
#slice
T[3:]

(4,)

In [15]:
#cant assign would give error
#t[2] = 100

In [16]:
#tuples created with commas, as opposed to round bracekts
T = 1, 2, 3, 4
T

(1, 2, 3, 4)

In [17]:
hash(T)

590899387183067792

In [18]:
#you can use tuples for assignment
a, b = 3, 4

In [19]:
a

3

In [20]:
b

4

In [21]:
a, b = b, a

In [22]:
a

4

In [23]:
b

3

In [24]:
# List integers
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#List comprehension
[i**3 for i in L ]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [26]:
#curve ball
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

<br>

## Bubble Sort
***

In [27]:
#import module from the standard library
import random

In [28]:
#create list of integers
L = list(range(1,11))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#shuffle list
random.shuffle(L)

In [30]:
L

[6, 3, 8, 2, 4, 1, 10, 9, 5, 7]

In [31]:
#the list is shuffled
L

[6, 3, 8, 2, 4, 1, 10, 9, 5, 7]

In [32]:
#bubble sort

#keep track of number of comparisons
no_comparisons = 0

# bubble every element up
for j in range(len(L)- 1):
    #keep track of any swaps.
    swapped = False
    #compare all elements that are side by side
    for i in range(len(L) - 1):
        #compare the ith element with the (i+1)th
        if L[i] > L[i+1]:
            #swap elements
            L[i], L[i+1] = L[i+1], L[i]
            #keep track of the swap
            swapped = True
        #add a comparison
        no_comparisons = no_comparisons + 1
    #quit if we didnt make any swaps.
    if not swapped:
        break

In [33]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
no_comparisons

54

In [35]:
#bubble sort as a fucntion

def bubble_sort(L):

    #keep track of number of comparisons
    no_comparisons = 0

    # bubble every element up
    for j in range(len(L)- 1):
        #keep track of any swaps.
        swapped = False
        #compare all elements that are side by side
        for i in range(len(L) - 1 - j):
            #compare the ith element with the (i+1)th
            if L[i] > L[i+1]:
                #swap elements
                L[i], L[i+1] = L[i+1], L[i]
                #keep track of the swap
                swapped = True
            #add a comparison
            no_comparisons = no_comparisons + 1
        #quit if we didnt make any swaps.
        if not swapped:
            break
    #return number comparisons made
    return no_comparisons

In [36]:
#create list
L = list(range(1,11))

#shuffle it
random.shuffle(L)
              
#look at it.
L

[3, 7, 1, 5, 8, 2, 4, 6, 10, 9]

In [37]:
# the function works on l in place
bubble_sort(L)

35

In [38]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# once the list is sorted  - bubble sort is O(n)
bubble_sort(L)

9

In [40]:
#worst case
L[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
#this is still 0(n^2)
bubble_sort(L[::-1])

45

In [42]:
sum(range(10))

45

## HeapSort
***

#### Transplanted from Wikipedia

https://en.wikipedia.org/wiki/Heapsort

In [43]:
def heapsort(a, count):
    #

IndentationError: expected an indented block (Temp/ipykernel_1512/3645071461.py, line 2)