# HeapSort

***

## Lists In Python
***

In [1]:
#lists in python can be created with sqaure bracket notation.
L = [1, 2, 3, "Hello, World!", None, True]

In [2]:
#they are zero indexed
L[5]

True

In [3]:
#Create lists with list() function
list({1,2,3,3})

[1, 2, 3]

In [4]:
#Using negative indexes.
L[-1]

True

In [5]:
#Third last element
L[-3]

'Hello, World!'

In [6]:
#In-Built functions for creating iterables
list(range(0, 100, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [7]:
#In-Built functions for creating iterables
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# list slicing.
L[1:10:2]

[1, 3, 5, 7, 9]

In [9]:
#Quick way to cycle the list to the left
i = 5
L[i:] + L[:i]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [10]:
L[:5]

[0, 1, 2, 3, 4]

In [11]:
L[5:]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
#Tuples -- immutabvle
T = (1,2,3,4)

In [13]:
#select elements
T[0]

1

In [14]:
#slice
T[3:]

(4,)

In [15]:
#cant assign would give error
#t[2] = 100

In [16]:
#tuples created with commas, as opposed to round bracekts
T = 1, 2, 3, 4
T

(1, 2, 3, 4)

In [17]:
hash(T)

590899387183067792

In [18]:
#you can use tuples for assignment
a, b = 3, 4

In [19]:
a

3

In [20]:
b

4

In [21]:
a, b = b, a

In [22]:
a

4

In [23]:
b

3

In [24]:
# List integers
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#List comprehension
[i**3 for i in L ]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [26]:
#curve ball
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

<br>

## Bubble Sort
***

In [27]:
#import module from the standard library
import random

In [28]:
#create list of integers
L = list(range(1,11))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#shuffle list
random.shuffle(L)

In [30]:
L

[10, 1, 8, 9, 7, 4, 2, 5, 6, 3]

In [31]:
#the list is shuffled
L

[10, 1, 8, 9, 7, 4, 2, 5, 6, 3]

In [32]:
#bubble sort

#keep track of number of comparisons
no_comparisons = 0

# bubble every element up
for j in range(len(L)- 1):
    #keep track of any swaps.
    swapped = False
    #compare all elements that are side by side
    for i in range(len(L) - 1):
        #compare the ith element with the (i+1)th
        if L[i] > L[i+1]:
            #swap elements
            L[i], L[i+1] = L[i+1], L[i]
            #keep track of the swap
            swapped = True
        #add a comparison
        no_comparisons = no_comparisons + 1
    #quit if we didnt make any swaps.
    if not swapped:
        break

In [33]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
no_comparisons

72

In [35]:
#bubble sort as a fucntion

def bubble_sort(L):

    #keep track of number of comparisons
    no_comparisons = 0

    # bubble every element up
    for j in range(len(L)- 1):
        #keep track of any swaps.
        swapped = False
        #compare all elements that are side by side
        for i in range(len(L) - 1 - j):
            #compare the ith element with the (i+1)th
            if L[i] > L[i+1]:
                #swap elements
                L[i], L[i+1] = L[i+1], L[i]
                #keep track of the swap
                swapped = True
            #add a comparison
            no_comparisons = no_comparisons + 1
        #quit if we didnt make any swaps.
        if not swapped:
            break
    #return number comparisons made
    return no_comparisons

In [36]:
#create list
L = list(range(1,11))

#shuffle it
random.shuffle(L)
              
#look at it.
L

[2, 10, 4, 5, 3, 7, 6, 8, 9, 1]

In [37]:
# the function works on l in place
bubble_sort(L)

45

In [38]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# once the list is sorted  - bubble sort is O(n)
bubble_sort(L)

9

In [40]:
#worst case
L[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
#this is still 0(n^2)
bubble_sort(L[::-1])

45

In [42]:
sum(range(10))

45

## HeapSort
***

<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Max-Heap-new.svg/854px-Max-Heap-new.svg.png" width = "250px"></

#### Transplanted from Wikipedia

https://en.wikipedia.org/wiki/Heapsort

In [43]:
def siftDown(L, parent, end):    
    """L[:end + 1] should almost be a max heap.
       sift down repairs it so that it is one"""
    
    #keep track of the number of comparisons
    no_comparisons = 0
    
    #while parent is actually a parent (has atleast a left child.)
    while 2*parent + 1 <= end:
        #indices of left child of parent
        lchild = 2 * parent + 1
        rchild = 2 * parent + 2
        
        #assume the parent is larger than the children
        swap = parent
        
        #is parent smaller than the left child
        if L[swap] < L[lchild]:
            #then swap is set to index of  left child
             swap = lchild
            #increment no_compariosns
        no_comparisons = no_comparisons + 1
        #check if right child exists and is smaller than L[swap]
        if rchild <= end and L[swap] < L[rchild]:
            #swap is set to index of right child
            swap = rchild
            #increment no_compariosns
            no_comparisons = no_comparisons + 1
        #we have a max heap if the parent is bigger than the child
        if swap == parent:
            break
        else:
            #swap the parent with the bigger child
            L[parent], L[swap] = L[swap], L[parent]
            #set the parent to bigger chuld index
            parent = swap    
    #return the number of comparisons
    return no_comparisons

In [44]:
def heapsort(L):
    """Sorts the list L in place using HeapSort."""

    #keep track of the number of comparisons
    no_comparisons = 0
    
    #index of last element 
    last_element = len(L) - 1
    
    #find the last parent
    last_parent = (last_element - 1) // 2
    #loop backwards through all the parents
    for parent in range(last_parent, -1, -1):
        # sift down.
        no_comparisons = no_comparisons + siftDown(L, parent, last_element)     
        
    #segregate the list into two parts
    #   1. L[end+1:] is a max heap
    #   2. each element beyond is greater than everything before it.
        
    #while there are still elements in the heap
    for end in range(last_element, 0, -1):
        #swap the element at index 0 to index end
        L[0], L[end] = L[end], L[0]  
        #fix the heap - root is currently out of place
        no_comparisons = no_comparisons + siftDown(L, 0, end - 1) 

    #return the number of comparisons
    return no_comparisons

In [45]:
#show heap sort works
heapsort(L)
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<br>

## Coparing Algorthims
***

In [46]:
#preform heapsort, show number of comparisons
L = [19, 100, 36, 25, 3, 17, 7, 1, 2]
no_comparisons = heapsort(L)
L, no_comparisons

([1, 2, 3, 7, 17, 19, 25, 36, 100], 19)

In [47]:
#preform heapsort, show number of comparisons
L = [19, 100, 36, 25, 3, 17, 7, 1, 2]
no_comparisons = bubble_sort(L)
L, no_comparisons

([1, 2, 3, 7, 17, 19, 25, 36, 100], 36)

In [48]:
#module full of combinatorial functions
import itertools


#length of example list
n = 5


#loop through all premutations of the list of integers from 0 to n
for perm in itertools.permutations(range(5)):
    L = list(perm)
    bubb_comp = bubble_sort(L)
    L = list(perm)
    heap_comp = heapsort(L)
    print(f'{str(perm)[1:-1]}|{bubb_comp}|{heap_comp}')

0, 1, 2, 3, 4|4|9
0, 1, 2, 4, 3|7|9
0, 1, 3, 2, 4|7|8
0, 1, 3, 4, 2|9|8
0, 1, 4, 2, 3|7|8
0, 1, 4, 3, 2|9|7
0, 2, 1, 3, 4|7|8
0, 2, 1, 4, 3|7|8
0, 2, 3, 1, 4|9|9
0, 2, 3, 4, 1|10|7
0, 2, 4, 1, 3|9|8
0, 2, 4, 3, 1|10|7
0, 3, 1, 2, 4|7|9
0, 3, 1, 4, 2|9|7
0, 3, 2, 1, 4|9|10
0, 3, 2, 4, 1|10|8
0, 3, 4, 1, 2|9|7
0, 3, 4, 2, 1|10|7
0, 4, 1, 2, 3|7|8
0, 4, 1, 3, 2|9|7
0, 4, 2, 1, 3|9|9
0, 4, 2, 3, 1|10|8
0, 4, 3, 1, 2|9|8
0, 4, 3, 2, 1|10|7
1, 0, 2, 3, 4|7|9
1, 0, 2, 4, 3|7|9
1, 0, 3, 2, 4|7|8
1, 0, 3, 4, 2|9|8
1, 0, 4, 2, 3|7|8
1, 0, 4, 3, 2|9|7
1, 2, 0, 3, 4|9|8
1, 2, 0, 4, 3|9|8
1, 2, 3, 0, 4|10|9
1, 2, 3, 4, 0|10|7
1, 2, 4, 0, 3|10|8
1, 2, 4, 3, 0|10|7
1, 3, 0, 2, 4|9|9
1, 3, 0, 4, 2|9|7
1, 3, 2, 0, 4|10|10
1, 3, 2, 4, 0|10|8
1, 3, 4, 0, 2|10|7
1, 3, 4, 2, 0|10|7
1, 4, 0, 2, 3|9|8
1, 4, 0, 3, 2|9|7
1, 4, 2, 0, 3|10|9
1, 4, 2, 3, 0|10|8
1, 4, 3, 0, 2|10|8
1, 4, 3, 2, 0|10|7
2, 0, 1, 3, 4|7|8
2, 0, 1, 4, 3|7|8
2, 0, 3, 1, 4|9|8
2, 0, 3, 4, 1|10|7
2, 0, 4, 1, 3|9|9
2, 0, 4, 3, 1|10|8
2, 1, 0, 3, 4|9|8
2, 1, 0, 4, 3|9|8
2, 1, 3, 0, 4|10|8
2, 1, 3, 4, 0|10|7
2, 1, 4, 0, 3|10|9
2, 1, 4, 3, 0|10|8
2, 3, 0, 1, 4|9|9
2, 3, 0, 4, 1|10|7
2, 3, 1, 0, 4|10|9
2, 3, 1, 4, 0|10|7
2, 3, 4, 0, 1|10|8
2, 3, 4, 1, 0|10|8
2, 4, 0, 1, 3|9|8
2, 4, 0, 3, 1|10|7
2, 4, 1, 0, 3|10|8
2, 4, 1, 3, 0|10|7
2, 4, 3, 0, 1|10|7
2, 4, 3, 1, 0|10|7
3, 0, 1, 2, 4|7|8
3, 0, 1, 4, 2|9|7
3, 0, 2, 1, 4|9|9
3, 0, 2, 4, 1|10|8
3, 0, 4, 1, 2|9|8
3, 0, 4, 2, 1|10|7
3, 1, 0, 2, 4|9|8
3, 1, 0, 4, 2|9|7
3, 1, 2, 0, 4|10|9
3, 1, 2, 4, 0|10|8
3, 1, 4, 0, 2|10|8
3, 1, 4, 2, 0|10|7
3, 2, 0, 1, 4|9|8
3, 2, 0, 4, 1|10|7
3, 2, 1, 0, 4|10|8
3, 2, 1, 4, 0|10|7
3, 2, 4, 0, 1|10|7
3, 2, 4, 1, 0|10|7
3, 4, 0, 1, 2|9|7
3, 4, 0, 2, 1|10|7
3, 4, 1, 0, 2|10|7
3, 4, 1, 2, 0|10|7
3, 4, 2, 0, 1|10|8
3, 4, 2, 1, 0|10|8
4, 0, 1, 2, 3|7|7
4, 0, 1, 3, 2|9|6
4, 0, 2, 1, 3|9|8
4, 0, 2, 3, 1|10|7
4, 0, 3, 1, 2|9|7
4, 0, 3, 2, 1|10|6
4, 1, 0, 2, 3|9|7
4, 1, 0, 3, 2|9|6
4, 1, 2, 0, 3|10|8
4, 1, 2, 3, 0|10|7
4, 1, 3, 0, 2|10|7
4, 1, 3, 2, 0|10|6
4, 2, 0, 1, 3|9|7
4, 2, 0, 3, 1|10|6
4, 2, 1, 0, 3|10|7
4, 2, 1, 3, 0|10|6
4, 2, 3, 0, 1|10|6
4, 2, 3, 1, 0|10|6
4, 3, 0, 1, 2|9|6
4, 3, 0, 2, 1|10|6
4, 3, 1, 0, 2|10|6
4, 3, 1, 2, 0|10|6
4, 3, 2, 0, 1|10|7
4, 3, 2, 1, 0|10|7

In [49]:
#like excel for python
import pandas as pd

In [50]:
#length of example list
n = 5

results = [[str(perm)[1:-1], bubble_sort(list(perm)), heapsort(list(perm))] for perm in itertools.permutations(range(n))]

In [51]:
#peak at results
results

[['0, 1, 2, 3, 4', 4, 9],
 ['0, 1, 2, 4, 3', 7, 9],
 ['0, 1, 3, 2, 4', 7, 8],
 ['0, 1, 3, 4, 2', 9, 8],
 ['0, 1, 4, 2, 3', 7, 8],
 ['0, 1, 4, 3, 2', 9, 7],
 ['0, 2, 1, 3, 4', 7, 8],
 ['0, 2, 1, 4, 3', 7, 8],
 ['0, 2, 3, 1, 4', 9, 9],
 ['0, 2, 3, 4, 1', 10, 7],
 ['0, 2, 4, 1, 3', 9, 8],
 ['0, 2, 4, 3, 1', 10, 7],
 ['0, 3, 1, 2, 4', 7, 9],
 ['0, 3, 1, 4, 2', 9, 7],
 ['0, 3, 2, 1, 4', 9, 10],
 ['0, 3, 2, 4, 1', 10, 8],
 ['0, 3, 4, 1, 2', 9, 7],
 ['0, 3, 4, 2, 1', 10, 7],
 ['0, 4, 1, 2, 3', 7, 8],
 ['0, 4, 1, 3, 2', 9, 7],
 ['0, 4, 2, 1, 3', 9, 9],
 ['0, 4, 2, 3, 1', 10, 8],
 ['0, 4, 3, 1, 2', 9, 8],
 ['0, 4, 3, 2, 1', 10, 7],
 ['1, 0, 2, 3, 4', 7, 9],
 ['1, 0, 2, 4, 3', 7, 9],
 ['1, 0, 3, 2, 4', 7, 8],
 ['1, 0, 3, 4, 2', 9, 8],
 ['1, 0, 4, 2, 3', 7, 8],
 ['1, 0, 4, 3, 2', 9, 7],
 ['1, 2, 0, 3, 4', 9, 8],
 ['1, 2, 0, 4, 3', 9, 8],
 ['1, 2, 3, 0, 4', 10, 9],
 ['1, 2, 3, 4, 0', 10, 7],
 ['1, 2, 4, 0, 3', 10, 8],
 ['1, 2, 4, 3, 0', 10, 7],
 ['1, 3, 0, 2, 4', 9, 9],
 ['1, 3, 0, 4, 2', 9, 7],
 ['1, 3, 2, 0, 4', 10, 10],
 ['1, 3, 2, 4, 0', 10, 8],
 ['1, 3, 4, 0, 2', 10, 7],
 ['1, 3, 4, 2, 0', 10, 7],
 ['1, 4, 0, 2, 3', 9, 8],
 ['1, 4, 0, 3, 2', 9, 7],
 ['1, 4, 2, 0, 3', 10, 9],
 ['1, 4, 2, 3, 0', 10, 8],
 ['1, 4, 3, 0, 2', 10, 8],
 ['1, 4, 3, 2, 0', 10, 7],
 ['2, 0, 1, 3, 4', 7, 8],
 ['2, 0, 1, 4, 3', 7, 8],
 ['2, 0, 3, 1, 4', 9, 8],
 ['2, 0, 3, 4, 1', 10, 7],
 ['2, 0, 4, 1, 3', 9, 9],
 ['2, 0, 4, 3, 1', 10, 8],
 ['2, 1, 0, 3, 4', 9, 8],
 ['2, 1, 0, 4, 3', 9, 8],
 ['2, 1, 3, 0, 4', 10, 8],
 ['2, 1, 3, 4, 0', 10, 7],
 ['2, 1, 4, 0, 3', 10, 9],
 ['2, 1, 4, 3, 0', 10, 8],
 ['2, 3, 0, 1, 4', 9, 9],
 ['2, 3, 0, 4, 1', 10, 7],
 ['2, 3, 1, 0, 4', 10, 9],
 ['2, 3, 1, 4, 0', 10, 7],
 ['2, 3, 4, 0, 1', 10, 8],
 ['2, 3, 4, 1, 0', 10, 8],
 ['2, 4, 0, 1, 3', 9, 8],
 ['2, 4, 0, 3, 1', 10, 7],
 ['2, 4, 1, 0, 3', 10, 8],
 ['2, 4, 1, 3, 0', 10, 7],
 ['2, 4, 3, 0, 1', 10, 7],
 ['2, 4, 3, 1, 0', 10, 7],
 ['3, 0, 1, 2, 4', 7, 8],
 ['3, 0, 1, 4, 2', 9, 7],
 ['3, 0, 2, 1, 4', 9, 9],
 ['3, 0, 2, 4, 1', 10, 8],
 ['3, 0, 4, 1, 2', 9, 8],
 ['3, 0, 4, 2, 1', 10, 7],
 ['3, 1, 0, 2, 4', 9, 8],
 ['3, 1, 0, 4, 2', 9, 7],
 ['3, 1, 2, 0, 4', 10, 9],
 ['3, 1, 2, 4, 0', 10, 8],
 ['3, 1, 4, 0, 2', 10, 8],
 ['3, 1, 4, 2, 0', 10, 7],
 ['3, 2, 0, 1, 4', 9, 8],
 ['3, 2, 0, 4, 1', 10, 7],
 ['3, 2, 1, 0, 4', 10, 8],
 ['3, 2, 1, 4, 0', 10, 7],
 ['3, 2, 4, 0, 1', 10, 7],
 ['3, 2, 4, 1, 0', 10, 7],
 ['3, 4, 0, 1, 2', 9, 7],
 ['3, 4, 0, 2, 1', 10, 7],
 ['3, 4, 1, 0, 2', 10, 7],
 ['3, 4, 1, 2, 0', 10, 7],
 ['3, 4, 2, 0, 1', 10, 8],
 ['3, 4, 2, 1, 0', 10, 8],
 ['4, 0, 1, 2, 3', 7, 7],
 ['4, 0, 1, 3, 2', 9, 6],
 ['4, 0, 2, 1, 3', 9, 8],
 ['4, 0, 2, 3, 1', 10, 7],
 ['4, 0, 3, 1, 2', 9, 7],
 ['4, 0, 3, 2, 1', 10, 6],
 ['4, 1, 0, 2, 3', 9, 7],
 ['4, 1, 0, 3, 2', 9, 6],
 ['4, 1, 2, 0, 3', 10, 8],
 ['4, 1, 2, 3, 0', 10, 7],
 ['4, 1, 3, 0, 2', 10, 7],
 ['4, 1, 3, 2, 0', 10, 6],
 ['4, 2, 0, 1, 3', 9, 7],
 ['4, 2, 0, 3, 1', 10, 6],
 ['4, 2, 1, 0, 3', 10, 7],
 ['4, 2, 1, 3, 0', 10, 6],
 ['4, 2, 3, 0, 1', 10, 6],
 ['4, 2, 3, 1, 0', 10, 6],
 ['4, 3, 0, 1, 2', 9, 6],
 ['4, 3, 0, 2, 1', 10, 6],
 ['4, 3, 1, 0, 2', 10, 6],
 ['4, 3, 1, 2, 0', 10, 6],
 ['4, 3, 2, 0, 1', 10, 7],
 ['4, 3, 2, 1, 0', 10, 7]]

In [52]:
df = pd.DataFrame(results, columns = ['list', 'bubble', 'heap'])

In [53]:
df

              list  bubble  heap
0    0, 1, 2, 3, 4       4     9
1    0, 1, 2, 4, 3       7     9
2    0, 1, 3, 2, 4       7     8
3    0, 1, 3, 4, 2       9     8
4    0, 1, 4, 2, 3       7     8
..             ...     ...   ...
115  4, 3, 0, 2, 1      10     6
116  4, 3, 1, 0, 2      10     6
117  4, 3, 1, 2, 0      10     6
118  4, 3, 2, 0, 1      10     7
119  4, 3, 2, 1, 0      10     7

[120 rows x 3 columns]

In [54]:
df.describe()

           bubble        heap
count  120.000000  120.000000
mean     9.258333    7.583333
std      1.096180    0.903619
min      4.000000    6.000000
25%      9.000000    7.000000
50%     10.000000    8.000000
75%     10.000000    8.000000
max     10.000000   10.000000

### Extras
***

In [55]:
# int's are passed by value.

# Function: b is a value.
def change(b):
    # Change value of b.
    b = 2

# Variable a set to 1.
a = 1

# a is passed by value.
change(a)

# a has not changed.
print(a)

1

In [56]:
# lists are passed by reference.

# Function: a is a reference.
def change(b):
    # Change an element.
    b[2] = 100

# List.
a = [1, 2, 3, 4]

# Pass a to change.
change(a)

# a has changed.
print(a)

[1, 2, 100, 4]

In [57]:
a = 3.56
b = 2.84
c = 0.24

In [58]:
a*c/b

0.3008450704225352